<html>
<head>
<title>Booking Details</title>

<style type="text/css">
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.blurb { font-size: 80%; text-align: justify; }

h3 { font-size: 115%; }

h2 { margin-bottom: 0px; }

</style>

</head>
<body>

<h2>Booking Summary</h2>
<hr/>

<div class="blurb">
<p>
All the booking details have been collected. Clicking on "Book" will start
the booking process. 

<p>
Depending on the types of resources that have been reserved and the
requested configurations, provisioning the resources can either be carried
out unattended or may require the attention of a testbed administrator.
You will receive a notification once the VCT has been deployed, at
which point the reserved resources will become accessible. 

<p>
Below is a summary of the booking, including the reserved resources, the
testbeds involved, the per resource costs as well as the total cost and the
period of validity for the booking.
</div>

<h2>Reserved resources</h2>
<hr/>

${resources}

<h2>Involved testbeds</h2>
<hr/>

${testbeds}

<div class="blurb">
<p>
Depending on the expected duration of the booking, you may choose to 
request that the process be started asynchronously by ticking the
option below. In this case, the request processor will complete the
booking in the background, immediately returning control. Regardless
of the chosen method, the state of the booking is afterwards accessible
from the toolbar buttons.

<p>
After the booking completes, a summary will be available, with the details
for accessing the provisioned components. This information is just a printable
version of the configuration data for all included components. The log produced
by the orchestration engine will also be made available.   
</div>
 
</body>

</html>
