.hidden{display:none}
body{
	padding:0 !important;
	background: #f7f7f7;
	
	background-size: 100%;
	color: #373737 !important;
	font-size: 16px !important;
	line-height: 1.5 !important;
}

a {
	cursor: pointer;
}

#fiteagleBody{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2%;
	background: white;
	max-width: 1000px;
}

#page{
	background: #e2e2e2;
  min-height: 100%;
}

#marginTop{
	height: 2%;
}

label,h1,h2,h3,h4,h5,h6{ cursor: default}

label {margin-top:3px;}
#rememberMeCheckboxLabel{
	position:relative;
	top:-10px;
	font-size: 14px !important;
	}

#deleteUserProfileModal .modal-body{padding:20px 0 20px 0}

body * { outline:none !important}

form{margin:0;}

p{text-align:justify}

#loginForm .modal-header{
	position: relative;
	z-index: 1;
	color: black;
	border-radius: 6px 6px 0 0; 
	background: #f09030;
	background: -moz-linear-gradient(top, #f09030, #d07010);
	background: -webkit-linear-gradient(top, #f09030, #d07010);
	background: -ms-linear-gradient(top, #f09030, #d07010);
	background: -o-linear-gradient(top, #f09030, #d07010);
	background: linear-gradient(top, #f09030, #d07010);
}

table {
	font-weight:bold;
	font-size: 14px;
}

table td{
	height: 37px;
	padding-left: 5px;
  padding-right: 5px;
}

td .centered{
 text-align:center;
}

.alert{margin-bottom:10px !important}

#loginForm .modal-body{
	overflow: visible;
}

.btn-inverse.disabled{background-color: #c8c8c8 !important;}

#loginPages a{
	text-decoration: none;
	color: #f09030;
	text-shadow: none;
	transition: color 0.5s ease;
	transition: text-shadow 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-webkit-transition: text-shadow 0.5s ease;
	-moz-transition: color 0.5s ease;
	-moz-transition: text-shadow 0.5s ease;
	-o-transition: color 0.5s ease;
	-o-transition: text-shadow 0.5s ease;
	-ms-transition: color 0.5s ease;
	-ms-transition: text-shadow 0.5s ease;
}

#loginPages a:hover{
	color: #f09030;
	text-shadow: #d07010 0px 0px 2px;
}

#main a:hover{
	color: #f09030;
	text-decoration:none;
}

#toolbar button{
	margin-top: 10px;
}

#navs ul li{display:table;
    margin:0px auto 0px auto;}


#navs .btn-navbar{margin-right:4%; margin-bottom:20px}

#courseName{
	font-weight: bold;
	margin-top: 15px;
}

.btn {
	color: white;
}

ul li a{
	color: #373737;
}
ul li a:hover, ul li a:focus{text-decoration: none;}

#managePubliKeys ul li textarea{color: black;}
#keys ul{list-style-type:none;}

hr{ border-top: 1px solid #D1D1D1}
h4{margin-bottom:5px !important}
h3{
	line-height: normal !important;
}

.fa {padding-right:5px;}

.left20{margin-left: 20px}
.left40{margin-left: 40px !important}
.top10{margin-top:10px}
.top20{margin-top:20px}
.padding3pc{padding:0 3% 0 3%}
.margin3pc{margin: 0 3% 0 3%}
#loginErrors .errorMessage{margin-bottom: 5px}
.modal-body .errorMessage{margin-bottom: 0px}
.errorMessage{margin-bottom:20px}
.nopadding{padding:0 !important;}
.nomargin{margin:0 !important}

.horizontal{list-style-type: none}

.horizontal li {display:inline}

.underlined{text-decoration:underline}

.placeholder{padding-left:30px}

.centered{
	text-align: center !important;
}

input.search-query{height:24px !important;}

#aside{
	height:100%;
}

#unifiMap{
	width: 100%;
}

#publicKeyControls a i {position: relative; top:6px}

#main{margin-bottom: 20px !important;}
#toolbar{color:white;}
#toolbar .pull-right{
		cursor: pointer;
		padding-right: 20px
}
		
#toolbar .form-search{
	margin:0 !important;
	padding-top:5px;
}
#userInfoDropdown li.active a{
	background-color: #d07010;
	background-image: -moz-linear-gradient(top,#f09030,#d07010);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f09030),to(#d07010));
	background-image: -webkit-linear-gradient(top,#f09030,#d07010);
	background-image: -o-linear-gradient(top,#f09030,#d07010);
	background-image: linear-gradient(to bottom,#f09030,#d07010);
}
#userInfoDropdown li a:hover{
  background-color: #d07010;
  background-image: -moz-linear-gradient(top,#f09030,#d07010);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f09030),to(#d07010));
  background-image: -webkit-linear-gradient(top,#f09030,#d07010);
  background-image: -o-linear-gradient(top,#f09030,#d07010);
  background-image: linear-gradient(to bottom,#f09030,#d07010);
}
#userInfoDropdown li a{padding-top:10px; padding-bottom: 10px}

#toolbar .btn-navbar{margin: 0 2% 0 2%}

#userInfoPanel{ padding: 10px 0px 5px 0}
#fancyLoginList > ul > li{margin-top:10px; list-style:none;}
#fancyLogins  li:first{margin-top:0}
#aside{border-right: 1px solid #d1d1d1;}
#desktop{
	margin-left:20px !important;
}

#logoImg{
	height: 110px;
/* 	margin-top:15px; */
/* 	margin-bottom: 10px; */
}
#loginErrorField{margin-bottom: 20px;}

#fiteagleLogo{
	height: 75px;
	bottom: 20px;
  position: absolute;
}

#unifiLogo{
	height: 90px;
  bottom: 10px;
  position: absolute;
}

#navigation{
	width: 100%;
/* 	border-top: 1px solid black; */
/*   border-bottom: 1px solid black; */
	background: -moz-linear-gradient(top, #252525, #0a0a0a);
	background: -webkit-linear-gradient(top, #252525, #0a0a0a);
	background: -ms-linear-gradient(top, #252525, #0a0a0a);
	background: -o-linear-gradient(top, #252525, #0a0a0a);
	background: linear-gradient(top, #252525, #0a0a0a);
}
/* #navs{	margin-top:10px;} */
/* #navs ul{ margin-bottom: 0px;} */
/* #navs ul li{ margin-right:15px} */
#navs .navbutton{
	margin-bottom: 0;
}

#navs .navbutton>li>a{
	color: white;
	height: 40px;
	display: table-cell;
  vertical-align: middle;
  width: 14%;
}
#navs .navbutton>.active>a {
  font-weight: bold;
}
#navs .navbutton>li>a:hover {
	color:#212121;
	background: -moz-linear-gradient(top, #ffffff, #cccccc);
  background: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background: -ms-linear-gradient(top, #ffffff, #cccccc);
  background: -o-linear-gradient(top, #ffffff, #cccccc);
  background: linear-gradient(top, #ffffff, #cccccc);
}

#header{
/*	background: #e2e2e2;*/
	position: relative;
/* 	background: -moz-linear-gradient(top, #373737, #212121); */
/* 	background: -webkit-linear-gradient(top, #373737, #212121); */
/* 	background: -ms-linear-gradient(top, #373737, #212121); */
/* 	background: -o-linear-gradient(top, #373737, #212121); */
/* 	background: linear-gradient(top, #373737, #212121); */
}


#rememberMe{ margin-top:10px}

.margin3{
	margin-top: 3px ! important;
	margin-right: 3px ! important;
	margin-left: 3px ! important;
	margin-bottom: 3px ! important;
}

.edit{
	font-size: 12px;
	margin-left: 5px;
}

.black{
  color: #373737;
}

.invalid{
	border: 1px solid red !important;
}
.page-header  {
	padding: 0 0 0 0 !important;
	margin:0px ;
	border-bottom: none !important;
}

.page-header h3{ margin: 5px 0 5px 0}

.thumbnail {
    border: 0 none !important;
    box-shadow: none !important;
}

#aside .search-query{margin-top:10px;}

/* #page { */
/* 	background-color: white; */
/* } */

#search i {margin-left:4px}

#yourSliceList > ul{margin-top:10px; text-decoration: none;}

#availableSlicesList{
	overflow: auto;
}

#saveProfileLoadingSign{
	position: relative;
	top: 10px;
	left:10px;
}

#availableSlicesList > ul > li{ margin-top:10px}

.container{
	  width: 175px !important;
}

.btnAdd
{
    background-image: url('../img/logo_fiteagle.png')!important;
    background-repeat: no-repeat !important;
    display: compact;
}

#generatedPrivateKey{margin-top: 40px}

@media (max-width:979px){
		#navs ul {margin-bottom: 20px}
		
		#aside{height:auto}
		
		h2{font-size:20}
		h3{font-size:18}
		
		.collapseHeader h3{margin-left:0%;}
		
		#search .form-search{text-align: left; margin-bottom:20px !important}
		
}

#logoTxt{
	margin-left: 0px !important;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#logoImg{ 
		margin-top:18px;
	}
	#logoTxt{
		padding-left:10px;
		margin-left: 0px !important;
	}	
	#project_title{
		font-size: 26px;
	}
	#project_tagline {
		font-size: 15px;
		margin-top: -10px;
	}
	
	#navs ul li.span3{ width: 100%;}
	#navs ul {margin-left:0 !important}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.alert{ text-align:center !important}
	
	.mainWindow  #navigation{
		position: fixed;
		z-index: 100;
		top: 0;
		}
		
	#fancyLogins{
		margin-top:30px;
	}
		
	.mainWindow  #header{padding-top:52px;}
	#publicKeysList .publicKey{margin-top:20px}

	#fancyLoginList ul{margin:0}
	.padding3pc{
		padding:0;
		margin-left: 3%;
		width: 94% !important;
	}
	.wrapper{padding: 0 20px 20px 20px}
	
	
	.thumbnail{margin-bottom:20px}
	.thumbnail.last{margin-bottom:0px}

	#main{
		overflow-x: hidden;
		margin-left: 4%;
		width:92%
	}
	#aside{border-right: none;}
	
	#fancyLoginList{ border-right: none; padding-bottom:20px;}
	#loginForm {margin-top:10px;}
	label{margin:0;}
	
	.radio{ margin-bottom:20px}
	.radio:last-child{ margin-bottom:0px}
	#logoImg img{ 
		margin-left:20px;
		padding-bottom:10px;
	}
	#navs{
		margin-left:3%; 
		width: 94%;
	}
	#navs ul li{ margin-right:0px !important}
	#logoTxt{ 
		padding-left: 90px;
		margin-top: -85px;
		width: 95%;
		margin-left: 0px !important;
	}		
	#project_title{
		font-size: 25px;
	}
	#project_tagline {
		line-height: 1.5;
		font-size: 14px;
		margin-top: 3px;
	}	
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

}

/* LOGIN BUTTON STYLES */

#fancyLoginList .btn{
	background-position:center;
	min-height: 50px !important;
	background-repeat:no-repeat;
}
#fiteagleLoginBtn{
	background: #f5f5f5;
	background-image: url('../img/FITeagle1.png'); /* fallback */
	background-image: url('../img/FITeagle1.png'), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6)); /* Saf4+, Chrome */
	background-image: url('../img/FITeagle1.png'), -webkit-linear-gradient(top, #ffffff, #e6e6e6); /* Chrome 10+, Saf5.1+ */
	background-image: url('../img/FITeagle1.png'),    -moz-linear-gradient(top, #ffffff, #e6e6e6); /* FF3.6+ */
	background-image: url('../img/FITeagle1.png'),     -ms-linear-gradient(top, #ffffff, #e6e6e6); /* IE10 */
	background-image: url('../img/FITeagle1.png'),      -o-linear-gradient(top, #ffffff, #e6e6e6); /* Opera 11.10+ */
	background-image: url('../img/FITeagle1.png'),         linear-gradient(top, #ffffff, #e6e6e6); /* W3C */
}

#xifiLoginBtn{
	background: #363636;
	background-image: url('../img/xifi1.png'); /* fallback */
	background-image: url('../img/xifi1.png'), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6)); /* Saf4+, Chrome */
	background-image: url('../img/xifi1.png'), -webkit-linear-gradient(top, #444, #222); /* Chrome 10+, Saf5.1+ */
	background-image: url('../img/xifi1.png'),    -moz-linear-gradient(top, #444, #222); /* FF3.6+ */
	background-image: url('../img/xifi1.png'),     -ms-linear-gradient(top, #444, #222); /* IE10 */
	background-image: url('../img/xifi1.png'),      -o-linear-gradient(top, #444, #222); /* Opera 11.10+ */
	background-image: url('../img/xifi1.png'),         linear-gradient(top, #444, #222); /* W3C */
}

#fed4fireLoginBtn{	
	background: #f5f5f5;
	background-image: url('../img/fed4fire.png'); /* fallback */
	background-image: url('../img/fed4fire.png'), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6)); /* Saf4+, Chrome */
	background-image: url('../img/fed4fire.png'), -webkit-linear-gradient(top, #ffffff, #e6e6e6); /* Chrome 10+, Saf5.1+ */
	background-image: url('../img/fed4fire.png'),    -moz-linear-gradient(top, #ffffff, #e6e6e6); /* FF3.6+ */
	background-image: url('../img/fed4fire.png'),     -ms-linear-gradient(top, #ffffff, #e6e6e6); /* IE10 */
	background-image: url('../img/fed4fire.png'),      -o-linear-gradient(top, #ffffff, #e6e6e6); /* Opera 11.10+ */
	background-image: url('../img/fed4fire.png'),         linear-gradient(top, #ffffff, #e6e6e6); /* W3C */
}

#openidLoginBtn{
	background: #f5f5f5;
	background-image: url('../img/openid1.png'); /* fallback */
	background-image: url('../img/openid1.png'), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6)); /* Saf4+, Chrome */
	background-image: url('../img/openid1.png'), -webkit-linear-gradient(top, #ffffff, #e6e6e6); /* Chrome 10+, Saf5.1+ */
	background-image: url('../img/openid1.png'),    -moz-linear-gradient(top, #ffffff, #e6e6e6); /* FF3.6+ */
	background-image: url('../img/openid1.png'),     -ms-linear-gradient(top, #ffffff, #e6e6e6); /* IE10 */
	background-image: url('../img/openid1.png'),      -o-linear-gradient(top, #ffffff, #e6e6e6); /* Opera 11.10+ */
	background-image: url('../img/openid1.png'),         linear-gradient(top, #ffffff, #e6e6e6); /* W3C */
}

#googleLoginBtn{
	background: #f5f5f5;
	background-image: url('../img/Google1.png'); /* fallback */
	background-image: url('../img/Google1.png'), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6)); /* Saf4+, Chrome */
	background-image: url('../img/Google1.png'), -webkit-linear-gradient(top, #ffffff, #e6e6e6); /* Chrome 10+, Saf5.1+ */
	background-image: url('../img/Google1.png'),    -moz-linear-gradient(top, #ffffff, #e6e6e6); /* FF3.6+ */
	background-image: url('../img/Google1.png'),     -ms-linear-gradient(top, #ffffff, #e6e6e6); /* IE10 */
	background-image: url('../img/Google1.png'),      -o-linear-gradient(top, #ffffff, #e6e6e6); /* Opera 11.10+ */
	background-image: url('../img/Google1.png'),         linear-gradient(top, #ffffff, #e6e6e6); /* W3C */
}

#yahooLoginBtn{
	background: #f5f5f5;
	background-image: url('../img/yahoo1.png'); /* fallback */
	background-image: url('../img/yahoo1.png'), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6)); /* Saf4+, Chrome */
	background-image: url('../img/yahoo1.png'), -webkit-linear-gradient(top, #ffffff, #e6e6e6); /* Chrome 10+, Saf5.1+ */
	background-image: url('../img/yahoo1.png'),    -moz-linear-gradient(top, #ffffff, #e6e6e6); /* FF3.6+ */
	background-image: url('../img/yahoo1.png'),     -ms-linear-gradient(top, #ffffff, #e6e6e6); /* IE10 */
	background-image: url('../img/yahoo1.png'),      -o-linear-gradient(top, #ffffff, #e6e6e6); /* Opera 11.10+ */
	background-image: url('../img/yahoo1.png'),         linear-gradient(top, #ffffff, #e6e6e6); /* W3C */
}

#tbdropdown{
	margin-left: 0;
}

#resources{
	position: relative;
	height: 600px;
}


#resources .window {
    background-color:white;
    border:1px solid #373737;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;        
    color:black;
    padding:0.5em;
    min-width:80px; 
    min-height:80px;
    font-size: 14px;
    position: absolute;
/*     padding-top:5px; */
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

#resources .window:hover {
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
}

#resources .newWindow {
	top:5%;
  left:5%;
}

#resources a {
    border-radius:0.2em;
}

#resources a:visited {
    color: #373737;
    border-radius:0.2em;
}

#aside a {
    color: #373737;
    border-radius:0.2em;
}

#resources ._jsPlumb_overlay {
	font-size:0.8em;
}

#resources i {
	padding-left: 2px;
}

#resources .collapse {
	font-size: 12px;
}


#resources path, ._jsPlumb_endpoint .dropdown{
	cursor:pointer;
}


#courseName a:hover{
  color: #f09030;
}


#resources div::selection{
	background: transparent;
}

#resources .fa-cogs{
	float: right;
	padding-left: 15px;
}

#resources .fa-trash-o{
  float: right;
}

#resources .resourceType{
	font-weight: bold;
}

#resources .nameInput{
	font-size: 10px;
	margin-left: 3px;
	width: 120px;
}

#resources .nameInputLabel{
  font-size: 12px;
  float: left;
}

#task {
	margin-top: 10px;
}

#task .pull-right{
    cursor: pointer;
    margin-right: 20px;
}

#newtask {
  margin-top: 10px;
}

#newtask .pull-right{
    cursor: pointer;
    margin-right: 20px;
}

/* /** DRAG/DROP CLASSES **/ */
/* .dragActive { border:2px dotted orange; } */
/* .dropHover { border:1px dotted red; } */

/* #resources a:active { */
/*   color:#FF2300; */
/* } */

/* #resources .menu, #render, #explanation {    */
/*   background-color:#fff;       */
/* } */


/* #resources #render a { */
/*     margin-right:10px; */
/* } */

/* #resources .selected { */
/*   color:orange !important; */
/* } */

/* #resources .window, .label {  */
    
/*     text-align:center; */
/*     z-index:24; */
/*   cursor:pointer; */
/*   box-shadow: 2px 2px 19px #aaa; */
/*    -o-box-shadow: 2px 2px 19px #aaa; */
/*    -webkit-box-shadow: 2px 2px 19px #aaa; */
/*    -moz-box-shadow: 2px 2px 19px #aaa; */
    
/* } */

/* #resources .cmd {  */
/*   color:white; */
/*   margin-right:25px; */
/* } */

/* #resources .cmd:hover {  */
/*   color:#FF2300; */
/*   text-decoration: underline; */
/* } */
/* #resources .cmd:active { */
/*   color:#FF2300; */
/* } */

/* #resources .label { */
/*   font-size:13px;  */
/*   padding:8px; */
/*   padding:8px; */
/* } */

/* #resources .component {  */
/*   border:1px solid #346789;  */
/*   border-radius:0.5em;         */
/*   opacity:0.8;  */
/*   filter:alpha(opacity=80); */
/*   background-color:white; */
/*   color:black; */
/*   padding:0.5em;    */
/*   font-size:0.8em; */
/* } */

/* #resources .component:hover { */
/*     border:1px solid #123456; */
/*     box-shadow: 2px 2px 19px #444; */
/*    -o-box-shadow: 2px 2px 19px #444; */
/*    -webkit-box-shadow: 2px 2px 19px #444; */
/*    -moz-box-shadow: 2px 2px 19px #fff; */
/*     opacity:0.9; */
/*     filter:alpha(opacity=90); */
/* } */











/* #resources .demo-links, .library-links { */
/*   position: fixed; */
/*   right: 0; */
/*   top: 44px; */
/*   font-size: 11px; */
/*   background-color: white; */
/*   opacity: 0.8; */
/*   padding-right: 10px; */
/*   padding-left: 5px; */
/*   text-transform: uppercase; */
/*   z-index:100001; */
/* } */

/* #resources .demo-links div, .library-links a { */
/*   display:inline; */
/*   margin-right:7px; */
/*   margin-left:7px; */
/* } */

/* #resources .demo-links i, .library-links i { */
/*   padding:4px; */
/* } */

/* #resources .library-links { */
/*     right: 454px; */
/*     height: 19px; */
/*     line-height: 19px; */
/* } */

/* #resources .current-library { */
/*   color:#7AB02C !important; */
/* } */

/* /** Z-INDEX **/ */

/* #resources ._jsPlumb_connector { z-index:18; } */
/* #resources ._jsPlumb_endpoint { z-index:19; } */
/* #resources ._jsPlumb_overlay { z-index:20; } */

/* #resources .aLabel { */
/*   background-color:white;  */
/*   padding:0.4em;  */
/*   font:12px sans-serif;  */
/*   color:#444; */
/*   z-index:21; */
/*   border:1px dotted gray; */
/*   opacity:0.8; */
/*   filter:alpha(opacity=80); */
/*   cursor: pointer; */
/* } */
/* #resources .aLabel._jsPlumb_hover { */
/*   background-color:#5C96BC; */
/*   color:white;   */
/*   border:1px solid white; */
/* } */



