.hidden{display:none}
body{
	padding:0 !important;
	background: #fff;
	background: -moz-linear-gradient(top, #f7f7f7, #e1e1e1);
	background: -webkit-linear-gradient(top, #f7f7f7, #e1e1e1);
	background: -ms-linear-gradient(top, #f7f7f7, #e1e1e1);
	background: -o-linear-gradient(top, #f7f7f7, #e1e1e1);
	background: linear-gradient(top, #f7f7f7, #e1e1e1);
	color: #373737 !important;
	font-size: 16px !important;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif !important;
	font-family: "proxima-nova-1","proxima-nova-2",sans-serif !important;
	line-height: 1.5 !important;
}
label {margin-top:3px;}

#deleteUserProfileModal .modal-body{padding:20px 0 20px 0}

body * { outline:none !important}

form{margin:0;}

.collapseHeader h4{margin-left:20px}

p{text-align:justify}

#loginPages a{
	text-decoration: none;
	color: #f09030;
	text-shadow: none;
	transition: color 0.5s ease;
	transition: text-shadow 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-webkit-transition: text-shadow 0.5s ease;
	-moz-transition: color 0.5s ease;
	-moz-transition: text-shadow 0.5s ease;
	-o-transition: color 0.5s ease;
	-o-transition: text-shadow 0.5s ease;
	-ms-transition: color 0.5s ease;
	-ms-transition: text-shadow 0.5s ease;
}

#loginPages a:hover{
	color: #f09030;
	text-shadow: #d07010 0px 0px 2px;
}

#navs ul li{display:table;
    margin:0px auto 0px auto;}

#navs ul li a{ text-align: center; padding-left:25%; padding-right:25%}

#navs .btn-navbar{margin-right:4%; margin-bottom:20px}

#mainArea ul{list-style-type:square;}

ul li a{color: #585858}
ul li a:hover, ul li a:focus{text-decoration: none;}

#managePubliKeys ul li textarea{color: black;}
#managePublicKeys ul{list-style-type:none;}

hr{ border-top: 1px solid #D1D1D1}
h4{margin-bottom:5px !important}

i[class^=icon-]{margin-right: 10px;}

.left20{margin-left: 20px}
.top10{margin-top:10px}
.top20{margin-top:20px}
.padding3pc{padding:0 3% 0 3%}
.margin3pc{margin: 0 3% 0 3%}
.errorMessage{margin-bottom:20px}
.nomargin{margin:0 !important;}

.horizontal{list-style-type: none}

.horizontal li {display:inline}

.underlined{text-decoration:underline}

.placeholder{padding-left:30px}

.centered{text-align: center !important}

input.search-query{height:24px !important;}

#aside{height:100%}

#main{margin-bottom: 20px !important;}
#toolbar{color:black;}
#toolbar .pull-right{
		cursor: pointer;
		padding-right: 20px}
		
#toolbar .form-search{
	margin:0 !important;
	padding-top:5px;
}
#userInfoDropdown li.active a{
	background-color: #d07010;
	background-image: -moz-linear-gradient(top,#f09030,#d07010);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f09030),to(#d07010));
	background-image: -webkit-linear-gradient(top,#f09030,#d07010);
	background-image: -o-linear-gradient(top,#f09030,#d07010);
	background-image: linear-gradient(to bottom,#f09030,#d07010);
}
#userInfoDropdown li a{padding-top:10px; padding-bottom: 10px}

#toolbar .btn-navbar{margin: 0 2% 0 2%}

#userInfoPanel{ padding: 10px 0px 5px 0}
#fancyLoginList{ border-right: 1px solid #d1d1d1}
#fancyLoginList > ul > li{margin-top:10px; list-style:none;}
#fancyLogins  li:first{margin-top:0}
#aside{border-right: 1px solid #d1d1d1;}
#desktop{margin-left:0px !important}		
#logoImg{ margin-top:15px}
#loginErrorField{margin-bottom: 20px;}

#project_title{
	color: #fff;
	font-size: 34px;
	font-weight: normal;
	text-shadow: #111 0px 0px 10px;
	margin-bottom:0;
}

#project_tagline {
	margin-top: 0px;
	color: #f09030;
	font-size: 16px ;
	font-weight: 300;
	background: none;
	text-shadow: #111 0px 0px 10px;
}

#navigation{
	min-height: 50px;
	width: 100%;
	border-top: 1px solid black;
	background: #f09030;
	background: -moz-linear-gradient(top, #f09030, #d07010);
	background: -webkit-linear-gradient(top, #f09030, #d07010);
	background: -ms-linear-gradient(top, #f09030, #d07010);
	background: -o-linear-gradient(top, #f09030, #d07010);
	background: linear-gradient(top, #f09030, #d07010);
}
#navigation{border-bottom: 1px solid black;}
#navs{	margin-top:10px;}
#navs ul{ margin-bottom: 0px;}
#navs ul li{ margin-right:15px}
#navs .nav-pills>li>a{color:#2E2E2E}
		
#navs .nav-pills>.active>a { color:white;background-color: #212121;}
#header{
	background: #212121;
	background: -moz-linear-gradient(top, #373737, #212121);
	background: -webkit-linear-gradient(top, #373737, #212121);
	background: -ms-linear-gradient(top, #373737, #212121);
	background: -o-linear-gradient(top, #373737, #212121);
	background: linear-gradient(top, #373737, #212121);
}

#rememberMe{ margin-top:10px}

.btn{margin-top: 10px ! important}

.invalid{
	border: 1px solid red !important;
}
.page-header  {
	padding: 0 0 0 0 !important;
	margin:0px ;
	border-bottom: none !important;
}

.page-header h3{ margin: 5px 0 5px 0}

.thumbnail {
    border: 0 none !important;
    box-shadow: none !important;
}

#aside .search-query{margin-top:10px;}
#aside{margin:0px;}

#search i {margin-left:4px}

#yourSliceList > ul{margin-top:10px; text-decoration: none;}

#availableSlicesList{
	overflow: auto;
}

#saveProfileLoadingSign{
	position: relative;
	top: 10px;
	left:10px;
}

#availableSlicesList > ul > li{ margin-top:10px}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }


.collapseHeader i.collapseSign{float:right; padding-top:1px;}

@media (max-width:979px){
		#navs ul {margin-bottom: 20px}
		
		#aside{height:auto}
		
		h2{font-size:20}
		h3{font-size:18}
		
		.collapseHeader h3{margin-left:0%;}
		
		#search .form-search{text-align: left; margin-bottom:20px !important}
		
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#logoImg{ 
		margin-top:18px;
	}
	#logoTxt{
		padding-left:10px;
	}	
	#project_title{
		font-size: 26px;
	}
	#project_tagline {
		font-size: 15px;
		margin-top: -10px;
	}
	
	#navs ul li.span3{ width: 100%;}
	#navs ul {margin-left:0 !important}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.padding3pc{
		padding:0;
		margin-left: 3%;
		width: 94% !important;
	}
	.wrapper{padding: 0 20px 20px 20px}
	
	.collapseHeader i.collapseSign{margin-right:2%;}
	.collapseHeader h4{margin-left:0px}
	
	.thumbnail{margin-bottom:20px}
	.thumbnail.last{margin-bottom:0px}

	#main{
		overflow-x: hidden;
		margin-left: 4%;
		width:92%
	}
	#aside{border-right: none;}
	
	#fancyLoginList{ border-right: none; padding-bottom:20px; border-bottom: 1px solid #d1d1d1;}
	#loginForm {margin-top:10px;}
	label{margin:0;}
	
	.radio{ margin-bottom:20px}
	.radio:last-child{ margin-bottom:0px}
	#logoImg img{ 
		margin-left:20px;
		padding-bottom:10px;
	}
	#navs{
		margin-left:20px; 
		width: 95%;
	}
	#logoTxt{ 
		padding-left: 90px;
		margin-top: -85px;
		width: 95%;
	}		
	#project_title{
		font-size: 25px;
	}
	#project_tagline {
		line-height: 1.5;
		font-size: 14px;
		margin-top: 3px;
	}	
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

}

#statusTable{
	width: 75%;
	position:relative;
 	top:80px;
 	left:160px;
}
#statusTable > tbody > tr   {
	padding-top: 2%;
}

#statusTable > tbody > tr:nth-child(odd){background-color:#fff;}
	
/*#statusTable > tbody > tr:hover td  {
	background-color: #c7c7c7;
	
}*/
#statusTable > tbody > tr > td.statusRow  {
	cursor: pointer;
	width: 10%;
	
}

#statusTable > tbody > tr > td.rowAlignLeft  {
	text-align: left;
	
}

#statusTable > tbody > tr:hover td.statusRow  {
	font-size: 140%;
		
}

#statusTable > thead {
	white-space: nowrap;
}

#statusTable > tbody > tr > td  {
	text-align: center;
	
	
}

#statusTable > tbody > tr > td > img.status {
	max-width: 2em;
	min-width: 1em;
}
#popup {
	min-width: 40%;
	alignment-baseline: central;
}
#popup div  {
	background: #d7d7d7;
	
}

#popup div.modal-body > table  {
	width: 75%;
	
}

#popup div.modal-body > table > thead > tr >th {
	padding: 5%;
	border-bottom: 2px solid #333;
	
}
#popup div.modal-body > table > tbody > tr >td {
	padding: 2%;
	text-align: center;
	
}
#popup div.modal-body >table > tbody > tr > td > img.status {
	width: 25%;
}

#navs ul { white-space:nowrap; }
