body {
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7, #e1e1e1);
  background: -webkit-linear-gradient(top, #f7f7f7, #e1e1e1);
  background: -ms-linear-gradient(top, #f7f7f7, #e1e1e1);
  background: -o-linear-gradient(top, #f7f7f7, #e1e1e1);
  background: linear-gradient(top, #f7f7f7, #e1e1e1);
}


h1, h2, h3, h4, h5, h6 {
  color: #212121;
  background:transparent;
  border:0px;
  font-weight:normal;
}

a {
  color:#f09030 !important;
}

#breadcrumbs, #breadcrumbs a {
  color:#fff !important;
}

.section {
  border-top: 1px solid white;
  border-bottom: 1px solid #D1D1D1;
}


#banner {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
  border-bottom: 1px solid black;
}

#breadcrumbs {
  background: #f09030;
  background: -moz-linear-gradient(top, #f09030, #d07010);
  background: -webkit-linear-gradient(top, #f09030, #d07010);
  background: -ms-linear-gradient(top, #f09030, #d07010);
  background: -o-linear-gradient(top, #f09030, #d07010);
  background: linear-gradient(top, #f09030, #d07010);
  border-top: 0px;
  border-bottom: 1px solid black;
}

.source {
  border:0px !important;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

pre {
  width: 100%;
  padding: 10px !important;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

pre code {
  display: block;
  box-shadow: none;
}

.poweredBy {
    display:none;
}
